<h1>Blog</h1>
<div>
  <article>
      <h1>Article</h1>
      <p>Some copy</p>
  </article>
  <article>
      <h1>Article</h1>
      <p>Some copy</p>
  </article>
  <article>
      <h1>Article</h1>
      <p>Some copy</p>
  </article>
</div>
