<h1>Hello from backend</h1>

<p>This content is served by a backend application on <a href="http://localhost:5000">http://localhost:5000</a></p>
<p>The backend application is proxied by webpack-dev-server on <a href="http://localhost:8080">http://localhost:8080</a></p>
<p>When viewing the site through webpack-dev-server, scss and js changes are updated with HMR</p>
<p>Changes to the backend templates trigger a browser reload.</p>
